<style>
	.boxes{
		width: 320px;
	}

	input{
		float: right;
	}
</style>

<div class="boxes">
	<form action="/sessions" method="post">
		<fieldset>
		<legend>Login</legend>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<p>
			<label>Email: </label>
			<input type="email" name="email">
		</p>
		<p>
			<label>Password: </label>
			<input type="password" name="password">
		</p>
		<a href="/online_lending/register">Click here to register</a>
		<input type="submit" value="Login">
		</fieldset>
	</form>
</div>